@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media (min-width: 768px){
  .navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }
}

@media (min-width: 0px) {

  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

}

.nav-pills li {
  float:none;
  display:table-cell;
  width:1%;
  text-align:center;
}

.spaced {
  padding-bottom: 3em !important;
}

body {
  padding-bottom: 40px;
}

.nope {
  display: none !important;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

.input-group.required .control-label:after { 
   content:"*";
   color:red;
}
