<div class="container">
  <div class="alert alert-danger" ng-if="!!auth.error">
    {{auth.error}}
  </div>

  <form>
    <div class="form-group">
      <label for="lemail">E-Mail</label>
      <input type="email" id="lemail" class="form-control" ng-model="auth.loginData.email" />
    </div>

    <div class="form-group">
      <label for="lpassword">Password</label>
      <input id="lpassword" type="password" class="form-control" ng-model="auth.loginData.password" />
    </div>

    <button type="button" type="submit" class="btn btn-default" ng-click="auth.login()">
      Login!
    </button>
  </form>

  <hr/>

  <form>
    <div class="form-group">
      <label for="rname">Ime</label>
      <input id="rname" type="text" class="form-control" ng-model="auth.registerData.name" />
    </div>

    <div class="form-group">
      <label for="remail">E-Mail</label>
      <input id="remail" type="email" class="form-control" ng-model="auth.registerData.email" />
    </div>

    <div class="form-group">
      <label for="rpassword">Password</label>
      <input id="rpassword" type="password" class="form-control" ng-model="auth.registerData.password" />
    </div>

    <div class="form-group">
      <label for="rpassword2">Opet Password</label>
      <input id="rpassword2" type="password" class="form-control" ng-model="auth.registerData.passwordConfirmation" />
    </div>

    <button type="button" type="submit" class="btn btn-default" ng-click="auth.register()">
      Registriraj Se!
    </button>
  </form>
</div>
